body {
  font-family: system-ui;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


table {
  border: 1px solid #dededf;
  width: 70%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  /* text-align: left; */
}

th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 5px;
}

td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 5px;
}


